.grid-container {
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 30px;
    aspect-ratio: 1/1;
    background-color: #C6C6C6;
    border-width: 5px;
    border-style: solid;
    border-color: white #808080 #808080 white;;
    transition: border 1s;
}

.cell.active {
    border: 1px solid #808080;
}

.cell.active {
    background-color:green;
    
}